<div id="deck-show">
  <div class="text-right">
    <%= link_to 'Edit Deck', edit_user_deck_path(current_user), class: 'btn btn-md btn-success' %>
  </div>

  <%= react_component 'DeckShow', deck %>
</div>
